extends layout

block append stylesheets
    link(rel="stylesheet", href="/stylesheets/music-card.css", type="text/css")

block content

    audio(id="mediaplayer", preload="auto", autoplay, loop)
        source(src="#{mp3_src}", type="audio/mpeg")
        source(src="#{ogg_src}", type="audio/ogg")    
                
    div#wrapper
        img(id="image", src="http://d.pcs.baidu.com/file/78181b1cc3f34ab7bcf34edb75710c18?fid=3241226043-250528-1077559170&time=1381983979&sign=FDTAR-DCb740ccc5511e5e8fedcff06b081203-2uZvApRCb9ECHcUXdKIJboN1tL0%3D&rt=sh&expires=8h&r=706470526&sh=1", alt="Father")
        div.article
            h1.title 笑容
            div.author 吴念真
            div.content
                p 後来那群人都老了、病了。
                p 三、四十年的矿工生涯之後,他们陆续得了矽肺症,咳嗽、哮喘,长期激烈劳动锻链出来的筋肉慢慢萎缩,脸颊凹陷、肤色灰白、两眼无神,终日内衣、睡裤一件,窝在家里的某个角落, 鼻孔塞着氧气管,动也不动,呼吸艰难之下连话都懒得讲。
                p 天气好的时候,他们偶尔会拖着小氧气瓶,以有如电影慢动作一般的脚步逐一走出家门,在巷尾的电线杆下聚集。儿孙们会习惯地帮他们张罗矮凳、矮桌,并且架起一支大阳伞,然後他们就在伞下沉默地玩着四色牌,旁观的人会依照阳光的角度调整阳伞,当阳伞和地面呈九十度直立的状态时,他们会回家吃午饭,之後再度继续,直到阳光消失。
                p 抽烟是他们一辈子的嗜好,身体既然到了这种地步,更没人觉得有戒掉的必要,所以每隔一段时间,他们就会有默契地一起关掉氧气,各自点起烟,有一口没一口地抽。
                p 往昔经常被他们粗声粗气地叫唤、咒骂的太太们彷佛终於等到可以报复的时机,每次只要看他们掏出香烟时就会大声吼着在巷子里玩耍的孙子,说:「离卡远一点啊,你阿公存心要死,你们可不要跟着去!」或者故意闲闲地说:「抽吧,抽吧,抽死总好过死了没得抽。」
                p 他们始终沉默,不知道是没力气,还是根本连回嘴的意识和动机都没有。
                p 他们最後一次展现昔日的骂劲是有一天警察冲进巷子,说他们是「公开聚赌」,硬要带去分局拘留;听说他们把氧气管一拔,彷佛要把压抑了好长一段时间的怒气全部宣泄出来似的,台式、日式的咒骂接连不断,然後说:「大尾的你不抓,抓这几个加起来 将近三百岁,赌资总共才两百八十元的人是要回去干你娘?」
                p 没想到後来太太们提起这件事时,却都带着些许的哀怜,她们说:「可怜哦,才刚骂完,一个个都忙着抓起氧气用力吸,一个个都喘得像条狗。」
                p 那年冬天,他们都陆续住进医院,加护病房和普通病房来去替换,可是没人有可以期待的出院时间。
                p 有一天一个三十来岁的儿子去医院看父亲,两人无语,後来他问父亲说:「有没有想什麽?」
                p 父亲说:「可以现吃现死、现超生的东西!」
                p 儿子想了一下,在父亲的耳边说了什麽,父亲竟然嘴角微微上扬,慢慢起身拉掉氧气管,然後朝其他人说:「不要躺了,我儿子要带我们去楼顶晒太阳!」然後有点顽皮地跟他们做了一个手势。
                p 父亲领头,後面跟了六、七个人,他殿後照顾,走一步、停一步。
                p 那天的阳光灿烂、温暖,天空和远处的海都蓝得发亮。儿子掏出香烟,为他们一一点上。儿子感觉像犯罪,但当看到他们深深地吸了一口,脸上逐渐出现和躺在病床的时候截然不同的神情时,他似乎已经不管那麽多了。
                p 年轻的护士捧着药盘忽然出现在楼梯口,不可置信地看着这群人。
                p 儿子用英文跟她说:「就让他们快乐一下吧,忘记你所看到的。」
                p 儿子无法忘记的是他看到父亲赶紧把香烟捏熄,手往背後藏,而脸上却出现久违的笑容,那笑容就跟当年自己好奇偷抽烟,却被父亲当场活逮的时候一样。
                p 刹那间,儿子觉得自己和父亲竟然如此亲近,彷如曾经一体。

        div.card
            p 爸：
            p 今天是你的六十大寿，祝你生日快乐、身体健康，早点退休在家安享晚年，不过记得帮妈妈分担一些家务活。
            p 我一直觉得「六十大寿」是个很重要、很神圣的日子，没想到它这么快就来了，这么轻易就要过去了，我甚至没能在你身边陪你吃长寿面和蛋糕，不过我知道你一定会看到我的这份祝福的，所谓「见字如见人」吧。
            p 虽然儿时的岁月已经记不清了，但我永远都保有你和妈妈倾其所有来养育我成长的印象，我尽量在你们的下半生用同等的付出回报你们。
            p 颖儿
            p 敬上
            
    div#player
        ul#controls
            li#mainControl.pause
            li.loop.on
            li.volume
                span.volumebar
                span.volumebar
                span.volumebar
                span.volumebar
                span.volumebar
                span.volumebar
                span.volumebar
    
                    
block prepend scripts
    script(src="/javascripts/jquery-2.0.3.min.js", type="text/javascript")
    script(src="/javascripts/music-card.js", type="text/javascript")              